@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Welcome.css" rel="stylesheet" type="text/css" />
</head>


