@model The_Guild.WebApp.Models.Users

@{
    ViewData["Title"] = "Edit User";
}
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/User.css" rel="stylesheet" type="text/css" />
</head>

<body class="user-bg1">
    <h1 class="user-default user-pad">Edit</h1>
    <div class="user-default user-pad">
        <a asp-action="Index" class="user-button">Back to List</a>
    </div>
    <div class="user-create user-pad">
        <div class="col-md-4">
            <form asp-action="Edit" class="user-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Strength" class="control-label"></label>
                    <input asp-for="Strength" class="form-control" />
                    <span asp-validation-for="Strength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dex" class="control-label"></label>
                    <input asp-for="Dex" class="form-control" />
                    <span asp-validation-for="Dex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wisdom" class="control-label"></label>
                    <input asp-for="Wisdom" class="form-control" />
                    <span asp-validation-for="Wisdom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Intelligence" class="control-label"></label>
                    <input asp-for="Intelligence" class="form-control" />
                    <span asp-validation-for="Intelligence" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Charisma" class="control-label"></label>
                    <input asp-for="Charisma" class="form-control" />
                    <span asp-validation-for="Charisma" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Constitution" class="control-label"></label>
                    <input asp-for="Constitution" class="form-control" />
                    <span asp-validation-for="Constitution" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RankId" class="control-label"></label>
                    <select asp-for="RankId"asp-items="@(new SelectList(Model.Ranks, "Id", "Name"))" class="form-control"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
